$orange : #fd2d01;
$orangeClaire : #ffa290;

@mixin roboto500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

header{
    display: flex;
    width: 100%;
    height: 100px;
    img{
        width: 60%;
        position: absolute;
        left: -15px;
        max-width: 300px;
    }
    i{
        position: absolute;
        right: 20px;
        top: 40px;
        font-size: 100%;
        color: $orange;
    }

    a{
        @include roboto500;
        text-decoration: none;
        color: $orange;
        font-size: 24px;
        vertical-align:middle;
        width: 48%;
        padding: 12px 0;
        display: flex;
        justify-content: center;
        border-radius: 15px;
    }
    
}
.fil{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    
}
.publication{
    position: relative;
    border: $orange solid 3px;
    border-radius: 25px;
    background-color: $orangeClaire;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    
    .btnSupr{
        position: absolute;
        right: 5%;
        top: 5%;
        border: none;
        background-color:transparent;
        width: fit-content;
        font-size: 20px;
        transition-duration: 500ms;
    }
    .titrePubli{
        @include roboto500();
        width: 92%;
        height: 24px;
        font-weight: bold;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0;
        font-size: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .auteur{
        @include roboto500();
        width: 92%;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 14px;
    }
    img{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .commentaire{
        display: flex;
        flex-direction: column;
        position: relative;
        border: $orange solid 2px;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        .formCom{
            display: flex;
            width: 100%;
            justify-content: space-between;
            input{
                margin-left: 5px;
                width: 80%;
                border-radius: 10px;
                height: 24px;
            }
            button{
                border: none;
                background-color: white;
                font-size: 20px;
                transition-duration: 500ms;
            }
        }
        .listCom{
            justify-content: space-between;
            position: relative;
            display: flex;
            flex-direction: line;
            .btnSuprCom{
                border: none;
                background-color:transparent;
                width: fit-content;
                font-size: 16px;
                transition-duration: 500ms;
            }
            .ctnCom{
            margin: 5px;
            background-color: wheat;
            width:fit-content;
            padding: 10px;
            border-radius: 10px;
            }
            p{
                margin: 0;
                @include roboto500();
                font-size: 14px;
            }
            .nomCom{
                font-weight: bold;
            }
        }
    }
}

.monCompte, .modifierCompte{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    #deco{
        margin-top: 50px;
    }
    input{
        position: absolute;
        right: 5%;
        margin-top: 12px;
        height: 20px;
    }
    a{
        margin-left: auto;
        margin-right: auto;
    }
    img{
        width: 100px;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    .ligneProfile{
        display: flex;
        margin-left: 10%;
        p{
            @include roboto500()
        }
    }
}

.connexion, .addPubli{
    margin-bottom: 150px;
    margin-top: 100px;
    .ligneCon{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        input{
            width: 80%;
            height: 60px;
            border-radius:40px;
            text-align: center;
            font-size: 24px;
            .bouton1{
                font-weight: normal;
                margin-bottom: -150px;
            }
        }
        label{
            @include roboto500;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            width: 80%;
            padding: 15px 0;
            background-color: $orangeClaire;
            border: $orange 2px solid;
            border-radius: 30px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            margin-bottom: 40px;        
            transition-duration: 500ms;
            &:hover, &:active{
                transform: scale(1.1);
                transition-duration: 500ms;
            }
        }
    }
    #image{
        display: none;
    }
}

footer{
    width: 100%;
    background-color: $orangeClaire;
    display: flex;
    margin-top: 45%;
    padding: 25px 0;
    justify-content:space-around;
    a{
        text-decoration: none;
        color: black;
        @include roboto500;
        font-weight: bold;
    }
}



.bouton1{
    @include roboto500;
    font-weight: bold;
    width: 200px;
    padding: 15px 0;
    background-color: $orangeClaire;
    border: $orange 2px solid;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 40px;        
    transition-duration: 500ms;
    &:hover, &:active{
        transform: scale(1.1);
        transition-duration: 500ms;
    }
}
.marg0{
    margin-bottom: 0;
}

.bouton2{
    position :fixed;
    z-index: 5;
    bottom: 15%;
    right: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-weight: bold;
    width: 50px;
    height: 50px;
    background-color: #ff795e;
    border: #fd2d01 2px solid;
    border-radius: 25px;        
    transition-duration: 500ms;
    &:hover, &:active{
        transform: scale(1.1);
        transition-duration: 500ms;
  }
}

.fil, .monCompte, .addPubli, .connexion, .modifierCompte{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}